@model IEnumerable<pishnahad.Models.sabt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="content" style="position:relative;right:-3000px">

    <h4 class="text-info">پیشنهادات ثبت شده</h4>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.meli)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.matn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.meli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.matn)
                    </td>
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(() => {
            $("#content").animate({ right: "0" });
            $(window).scrollTop($("#back").offset().top);
        });
    </script>
}

